header{
    background-color: rgb(42, 223, 163);
}

body{
    background-color: rgb(76, 126, 148);
    
}
form{
    color: black;
    font-size: larger;
    justify-content: flex-end;
}
footer{
    background-color: rgb(42, 223, 163);
}