header{
    background-color: rgb(42, 223, 163);
}

body{
    background-color: floralwhite;
        
    }
    
    p{
     justify-content: left;
    }
    footer{
        background-color: rgb(42, 223, 163);
    }